@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Tsukimi+Rounded&display=swap");

* {
  box-sizing: border-box;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

:root {
  --orange: #e74c3c;
}

.btn-orange {
  background-color: var(--orange) !important;
  color: white !important;
  &:hover {
    background-color: #b83e30 !important;
  }
}

/* Arvo font */
.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  hr {
    border-top: 2px solid #e74c3c;
    width: 7rem;
  }
}
/* ------------- index ------------- */

header {
  .landing {
    min-height: 100vh;
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav-link:hover {
    color: var(--orange) !important;
  }

  h1 {
    font-size: 4rem !important;
  }
}

main {
  h2 {
    font-size: 1.5rem;
    color: var(--orange);
    text-transform: uppercase;
  }
  span {
    color: var(--orange);
  }

  .card {
    width: 18rem;
  }
  .icone {
    background-color: rgb(71, 71, 71);
    border-radius: 100%;
    width: 85px;
    height: 85px;
  }
  i {
    font-size: 2rem;
    color: white;
  }
}

.bgfooter {
  background-color: var(--orange);
  min-height: 30vh;
}

/* -----------who we are -------------- */
header {
  .landing-h {
    min-height: 50vh;
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

main {
  h5 {
    color: var(--orange);
    font-weight: bold;
  }

  .team-person {
    height: 20rem;
    width: 15rem;
  }
  /* Les image-teams */
  .image-team-1 {
    background-image: url("../img/team1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    width: 15rem;
  }
  .image-team-2 {
    background-image: url("../img/team2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    width: 15rem;
  }

  .image-team-3 {
    background-image: url("../img/team3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    width: 15rem;
  }

  .image-team-4 {
    background-image: url("../img/team4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    width: 15rem;
  }

  #section-sponsors a {
    color: var(--orange);
    text-decoration: underline;
  }
}

/* classe formulaire */
.error {
  background-color: rgb(253, 206, 206);
  color: rgb(112, 4, 4);
  /* border: 1px solid red; */
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.bi {
  right: 2%;
  top: 57%;
  font-size: 1.3em;
}
